<div class="container">
   <p class="title is-1" id="test">Hello in Frameworks!</p>
   <p class="subtitle is-3">Place to share informations about frameworks.</p>
</div>


<% @languages.each_with_index do |language,index| %>
 <div class="framework">
  <section class="hero hero-language" id="<%= index %>">
   <div class="hero-body">
      <div class="container">
         <h1 class="title is-2">
           <%= language.name %> 
         </h1>
         <h2 class="subtitle is-4">
           <%= language.description %>
         </h2>
         <a href="<%= language_path(language) %>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
      </div>
   </div>
</section>
<div class="container">
   <div class="columns is-multiline">
     <% language.frameworks.each do |framework| %>
      <div class="column is-one-third">
         <div class="card" id="<%= index %>">
            <header class="card-header">
               <p class="card-header-title">
                  <%= framework.name %>
               </p>
            </header>
            <div class="card-content">
               <div class="content">
                  <p><%= framework.description %>
                  </p>
                  <p>Type: <strong><%= framework.category %></strong></p>
                  <p>Release year: <strong><%= framework.year %></strong></p>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>
</div>
  <% end %>
<script>
$(function(){
  var colors = ['is-primary', 'is-info', 'is-danger','is-warning', 'is-success', 'is-primary is-bold', 'is-success is-bold','is-warning is-bold','is-danger is-bold','is-primary is-bold','is-info is-bold' ];
var elements = $('.framework').length;
    var color = ' ';
   for (var i = 0; i< elements; i++ ) {
    color = colors[Math.floor(Math.random()*colors.length)];
       $('#' + i).addClass(color);
   }  
});


</script>