<div class="container">
   <p class="title is-2">Add new language!</p>
   <div class="columns">
       <div class="column is-4">
   
<%= form_for :language, url: languages_path do |f| %>
 <% if @language.errors.any? %>
   <div class="notification is-danger" id="error_explanation">
 <ul>
        <% @language.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
</div>

  <% end %>
  
  <p class="control">
    <%= f.label :name, :class => 'label' %>
    <%= f.text_field :name, :class => 'input' %>
  </p>
  
  <p class="control">
    <%= f.label :description, :class => 'label' %>
    <%= f.text_area :description, :class => 'input' %>
  </p>

  <p class="control">
    <%= f.submit 'Submit', :class => 'button is-primary' %>
  </p>
   <%= link_to 'Back', languages_path,  :class=>"button" %>
<% end %>
       </div>
    </div>
</div>